<div class = "right-panel">
    <div class = "first-section">
        <span class="order-label"> Замовлення</span>
        <div class="order-quantity"> 0 </div>
    </div>
    <div class = "second-section" id="cart"></div>
    <div class = "third-section">
        <span class="order-sum">Сума замовлення </span>
    <span class="order-sum-title"> 0 грн </span>
    <div class="button">
    <a type="button" class="button-order" href ="/">Редагувати замовлення </a>
    </div>
    </div>
</div>