.right-panel{
  position:fixed;
  height:100%;
  width:@right_panel_width;
  //left:1050px;
  //display:inline-block;
  top:0;
  right: 0;
  background-color: white;
}
//
//#empty{
//  size:0;
//  background-color: lightgray;
//  font-size:30px;
//}
.first-section{
    width:100%;
    height:100px;
    position:relative;



  .order-label{
    font-size:20px;
    position:absolute;
    top:30px;
    left:5px;

    padding:5px;

  }
  .clear-order{
    height: 20px;
    position:absolute;
    font-size: 10px;
    top:45px;
    left:200px;


  }
  .order-quantity{
    width:20px;
    height: 20px;
    font-size: 20px;
    border-radius:10px;
    background-color: #ea862e;
    color:white;
  }
  }
.second-section{
  position:relative;
  width:100%;
  height:450px;
  background-color: lightgrey;
  overflow-y: auto;


  .all-orders{
    padding-top:10px;
    height:445px;
    width:100%;
  }
  .one-order{
    position:relative;
    height:120px;
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:grey;

  }

  .pizza-order-photo{
    position:absolute;
    top: 15px;
    left:250px;
    width:70px;
    height:70px;
  }
  .order-pizza-title{
    position:absolute;
    color:#ea862e;
    font-size:18px;
    top: 10px;
    left:8px;
  }
  .order-text{

    position:relative;
    width:100px;
    height:20px;

    top:35px;
    left:8px;



    .diagonal-image{
      position:absolute;
     left:5px;
      top:5px;
      width:10px;

    }
    .diagonal-title{
      position:absolute;
      left:20px;
      margin-right:5px;
      text-align: center;
    }

    .gram-image{
      position:absolute;
      left:50px;
      top:5px;

    }
    .gram-title{
      position:absolute;
      left:65px;

    }
  }

  .price-box{
    position:absolute;
    top:70px;
    .btn-circle {
      width: 30px;
      height: 30px;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    .price{
      font-size: 14px;
      padding:5px;
    }
    .order-pizza-count{
      font-size: 14px;
    }
  }




}


.order{
  text-align: center;
  font-size:30px;
  font-family:Broadway ;
}
.third-section{
  position:absolute;
  width:100%;
  height:200px;
  .order-sum{
    position:relative;
    text-align: center;
    font-size:15px;
    left:5px;
    top:7px;
    color:black;
  }

  .order-sum-title{
    position:relative;
    text-align: center;
    font-size:15px;
    left:140px;
    top:7px;
    color:black;
  }

  .button{
    height:100px;

  }
  .button-order{
    position:relative;
    width:70%;
    height:40%;
    top:30px;
    left:15%;
    background-color:#ea862e;
    color:white;
    border-radius:10px;
  }

}